commands:
  01_install_bun:
    command: |
      export BUN_INSTALL=/usr/local/bun
      curl -fsSL https://bun.sh/install | bash
      ln -sf /usr/local/bun/bin/bun /usr/local/bin/bun
      ln -sf /usr/local/bun/bin/bunx /usr/local/bin/bunx
    ignoreErrors: false
    env:
      BUN_INSTALL: /usr/local/bun
